.ephy-txt-sm { font-size: 13px; }

.ephy-pd-sm-pt-8 {
    padding-left: .8em;
    padding-right: .8em;
}

.ephy-pd-bottom-zero { padding-bottom: 0 !important; }

.ephy-mg-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
